@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
margin : 0;
padding: 0;
}

body{
    background-repeat: no-repeat;
    background-color: #BEEAF1;
}

.header{
    text-align: center;

}
.header p{
    font-size: 1.5em;
}

.form{
  text-align: center;  
}

.nal{
    text-align: center;
}

select{
    border: none;
    margin: auto;
    width: 120px;
    height : 40px;
    margin-top: 40px;
    display: block;
    background-color: #75CFF2;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 1.05rem;
    font-family: Pretendard-Regular;
}

input{
    margin: auto;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    background-color: #C0B1E5;
    border-radius: 12px;
    border: 0.5px solid #C0B1E5;
    color: white;
    display: block;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    outline: none;
    text-align: center;
    
}

input:hover{
    background-color: white;
    border-color: white;
    color: #C0B1E5;
}

.box{
 text-align: center;   
 

}

.box p{
    font-size: 20px;
}
.menu_box{
    max-width: 1000px;
    background-color: white;
    width: 60%;
    font-size: 20px;
    margin: auto;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    line-height: 33px;
    font-family: S-CoreDream-3Light;
}

button{
    width: 100px;
    height: 35px;
    background-color: transparent;
    border-radius: 12px;
    border: 0.5px solid white;
    color: white;
    transition: all 0.5s ease-in-out;
    margin-top: 130px;
}

button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
}
.content{
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 48px;
    
}

h2{
 font-family: GmarketSansMedium;
 font-size: 2rem;
 margin-top: 20px;
}
.Pre{
    font-family: Pretendard-Regular;
    color: #888;
    margin-top: 12px;
    margin-bottom: 4px;
}